.task-details-page {
    width: 80%;
    margin: auto;
}

.task-details {
    display: flex;
    flex-direction: column;
}

.task-details-title {
    margin: 16px 0;
    font-weight: bold;
    font-size: 20px;
}

.task-details-stmt {
    font-size: 18px;
    margin: 16px 0;
}

.task-details-narr {
    margin: 16px 0;
}

.task-details-card {
    margin: 16px;
    max-height: 80vh;
    overflow-y: scroll !important;
}

.task-details-example-doc-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 8px !important;
}

.task-details-heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-details-annotations-table {
    display: flex;
    max-height: 420px;
}

.task-details-annotations-row {
    cursor: pointer;
}

.task-details-annotations-row--highlighted {
    background-color: rgb(25 118 210 / 12%);
}

.task-details-annotation-sentence {
    margin: 16px;
    width: 50%;
    max-width: 50%;
    overflow-y: scroll !important;
}

.task-details-annotation-see-more {
    width: 100px;
    margin: auto !important;
}

.task-details-annotation-sentence > * {
    white-space: break-spaces;
}

.request-details {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.request-details-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: -40px;
    font-size: 18px;
}

.request-details-text {
    display: flex;
    align-items: center;
}

.request-details-heading {
    padding: 16px 0 8px 0;
    font-weight: 700;
    font-size: 18px;
}

.request-details-hr {
    width: 100%;
    margin: 20px 0;
}

.request-details-submission-link {
    display: inline-flex;
    align-items: center;
}

.request-details-button {
    margin-left: 32px !important;
}
  