.search-page {
    max-width: 75%;
    margin: auto;
    padding-top: 1rem;
}

.fallback-text {
    text-align: center;
    margin: 16px auto;
}

.submission-detail {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}