.search-hit-card-content {
    margin: 12px;
    transition: height 0.5s;
}

.search-hit-card-content--compact {
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-hit-card {
    margin: 8px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.up-arrow {
    transform: rotate(180deg);
}

.search-hit-expand-button {
    padding: 2px !important;
}

.search-hit-relevance-label {
    height: 16px !important;
    border-radius: 4px !important;
    margin: 4px 24px;
    background-color: #427745;
}

.search-hit-relevance-label-span {
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px !important;
    font-size: 9px !important;
}

.search-hit-card-header {
    position: sticky;
    margin: 0 8px;
    font-size: 12px !important;
    top: 4px;
}